@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Students Management System</h1>
            <p class="lead">This project is a comprehensive Students Management System developed using .NET technology. Our goal is to streamline the management of student records, including enrollment, grading, and reporting.</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>About This Project</h2>
                <p>This project is a comprehensive Students Management System developed using .NET technology. Our goal is to streamline the management of student records</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Our Team</h2>
                <ul class="list-group">
                    <li class="list-group-item">Adam Zaier</li>
                    <li class="list-group-item">Borhen Dkhil</li>
                    <li class="list-group-item">Mohammed Chaaban</li>
                    <li class="list-group-item">Hakim Houichi</li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2024 Students Management Team</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
